@import '../../../../global/scss/config';

.project-page {
  @include flex(column, flex-start, center);
  @include max-size;
  @include pad-box(24px);

  .description {
    @include font(14px, 500, 0, white);
    margin-bottom:24px;
    width:100%;
    max-width:700px;
  }

  .embeds {
    width:100%;
    max-width:700px;
    .project-embed-container {
      margin-bottom:24px;

    }

    .project-embed-video {
      background: black;
      border-radius: 5px;
      padding-bottom: 56.25%;
      padding-top: 25px;
      box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    }
  }



}